
    header {
        background: rgb(252, 210, 217);
        padding: 20px;
        opacity: 0.8;
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
    }
    header h1 {
        display: inline-block;
        margin: 0;
        float: left;
    }
    header h1 a:first-child {
        display: inline-block;
        width: 41px;
        height: 41px;
        background: url(../img/icon/calculator.png) no-repeat 0 0/41px auto;
        vertical-align: middle;
    }
    header h1 a:last-child {
        display: inline-block;
        font-size: 24px;
        color: rgb(201, 164, 212);
        padding: 0 0 0 8px;
        line-height: 41px;
        vertical-align: middle;
        text-transform: uppercase;
    }
    header a {
        vertical-align: middle;
        margin: 1%;
    }

    header .title {
        height: 4rem;
        border-bottom: 1px solid white;
    }
    .hide {
        line-height: 0;
        font-size: 0px;
        overflow: hidden;
    }
    .title h1 a {
        margin: 0 10px;
        display: inline-block;
        /*높이가 안들어가기 때문에, inline block을 해주어야함.*/
        float: left;
        width: 35px;
        height: 35px;
        vertical-align: middle;
    }